/*
Rename this file to ra_custom.css to be added to your 
wordpress deployment as a low priority css file.
*/

h1 {
  color: red !important;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}